/**
 * custom buttons
 *
 * estilo personalizado para os botoes padrao do bootstrap
 */
.btn-text{
	background: transparent;
}

/**
 * custom-form
 *
 * estilo para personalizar os formularios do bootstrap
 */
.custom-form .form-group{
	margin-bottom: 30px;
}

	.custom-form .form-control{
		border:0;
		border-bottom: 2px solid #000;
		box-shadow: none;
		border-radius: 0;
		font-size: 25px; 
	}

/**
 * page-login
 */
.page-login{
	text-align: center;
	margin-top: 150px;
}

	.page-login .page-login-form .btn-enviar{
		color: #d2483f;
		font-size: 30px;
	}

	.page-login .page-login-header{
		width: 320px;
		height: 320px;
		background: #000;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -60%);
		position: absolute;
		z-index: 1;
		transition: .5s;
	}

		/**
		 * efeito de transicao para o circulo "Login"
		 */
		.page-login:hover .page-login-header{
			transform: translate(-50%, -60%) rotate(-90deg);
			transition: .5s;
			display: block;
			background: linear-gradient(to bottom, #000 17%, #fff 0%);
		}		

		.page-login .page-login-title{
			font-size: 60px;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1;
		}

			/**
			 * efeito de transicao para o texto do circulo "Login"
			 */
			.page-login:hover .page-login-title{
			    font-size: 30px;
    			margin-top: 10px;
			}

	.page-login .custom-form{
		max-width: 250px;
		margin: 0 auto;
		opacity: 0;
		transition: .5s;
	}

		/**
		 * efeito de transicao para o formulario de login
		 */
		.page-login:hover .custom-form{
			opacity: 1;
			transition: .5s;
			position: relative;
			z-index: 2;
			margin-left: 100px;
		}

/**
 * page-home
 */
.page-home-header{
	border-bottom: 1px solid #e1e7dd;
}

	.page-home-header .navbar{
		margin-bottom: 0;
	}

.page-home-gallery{
	margin-top: 70px;
}

/**
 * carrousel da pagina principal
 */
.page-home-gallery .owl-buttons{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	margin-top: -10px;
}

	.page-home-gallery .owl-buttons div{
		pointer-events: auto;
		color: #c5372d !important; /* !important para sobrescrever o estilo do plugin */
		font-size: 90px !important; /* !important para sobrescrever o estilo do plugin */
		background: transparent !important; /* !important para sobrescrever o estilo do plugin */
		opacity: 1 !important; /* !important para sobrescrever o estilo do plugin */
		padding: 0 !important; /* !important para sobrescrever o estilo do plugin */
	}

		.page-home-gallery .owl-buttons .owl-prev{
			float: left;
			margin-left: -80px !important; /* !important para sobrescrever o estilo do plugin */
		}

		.page-home-gallery .owl-buttons .owl-next{
			float: right;
			margin-right: -80px !important; /* !important para sobrescrever o estilo do plugin */
		}

.page-home-gallery .gallery-item{
	padding: 0 5px;
}

	.page-home-gallery .gallery-item img{
		max-width: 100%;
		height: auto;
	}